/**
 * INDEX
 * 
 * 1.0 .emowl-form
 * 		1.1 form title
 * 		1.2 button container
 * 			1.2.1 buttons
 * 			1.2.2 hidden button
 * 			
 * 		1.3 .part-container
 * 		1.3.1 .part
 * 				1.3.1.1 .part-1
 * 		 		1.3.1.2 .part-2
 * 		 	 	1.3.1.3 .part-3
 * 		  	 	1.3.1.4 .part-4
 * 		  	 	
 *      1.4. generic elements and element-parts
 *      	1.4.1 element title
 *      	1.4.2 text input
 *      	1.4.3 range input
 *      	1.4.4 helper text
 *      	1.4.5 label
 * 		
 *
 * 2.0 loam amount
 * 		2.1 loan input container
 * 			2.1.1 loan label
 * 				2.1.1.1 loan title
 * 			 	2.1.1.2 loan help text
 * 			 	
 * 			2.1.2 loan input
 *
 * 3.0 tenure
 *
 * 4.0 refinancing
 * 
 * 5.0 mobile number
 *
 * 6.0 email
 * 			
 */


/* dev stuff */
.em-element-container {
	border: solid 1px black;
	padding: 1rem;
}

.em-r,
.em-i {
	width: 100%;
}
/* end of dev stuff */


/* 1.0 form element and container */
.emowl-form {
	display: inline-grid;
	box-sizing: content-box;

	grid-template-rows: auto 1fr auto;

	/*padding: 2rem;*/

	/*width: 80rem;*/

	background-color: hsl(20, 0%, 95%);

	/*border: solid 5px hsl(240, 50%, 80%);*/
	/*border-radius: 25px;*/

}

/* 1.1 form title */
.form-title {
	/*font-size: 3rem;*/
	margin: 0;
}

/* 1.2 next / prev buttons */
/* button container */
.em-b-container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;

	align-self: flex-end;

}

/* 1.2.1 button */
.em-b {
	/*padding: 1rem 2rem;*/

	/*border-radius: 25px;*/
	border: none;
	outline: none;
	/*font-size: 4rem;*/

	cursor: pointer;

	/*background-color: hsl(120, 90%, 80%);*/
}

/* 1.2.2 hidden button */
.em-b-back {
	display: none;
}


/* 1.3 part container */
.part-container {
}

.part {
	display: none;
}

.part-1 {
	display: grid;

	justify-content: space-between;
	align-items: center;
	height: 100%;

	grid-template-areas: 
	"loan loan"
	"tenure refinancing"
	"mobile email"
	"monthly monthly";

	grid-column-gap: 4rem;

	grid-template-columns: 1fr 1fr;

}



.em-hidden {
	display: none;
}

/* 1.4 generic elements and element-parts */
.em-element-container {
	/*height: 15rem;*/
	/*margin-bottom: 4rem;*/
	/*background-color: hsl(270, 50%, 72%);*/
	/*cursor: pointer;*/
	/*padding: 2rem;*/
	/*border-radius: 25px;*/

	user-select: none;


}	

.em-element-container:hover {
	/*box-shadow: 0 0 10px hsl(30, 50%, 50%);*/
}

/* 1.4.1 element title */
.em-it {
	margin: 0;
	/*color: white;*/
	/*text-shadow: 0 0 5px black;*/
	/*font-size: 2.6rem;*/
}

/* 1.4.2 text input */
.em-i {

	/*height: 4rem;*/

	/*margin-top: 1rem;*/
	/*font-size: 2.4rem;*/
	/*padding: .5rem;*/
	/*text-align: center;*/

	border: none;
	outline: none;
	/*border-radius: 25px;*/
	z-index: 20;
}

/* 1.4.3 range input */
.em-rc {
	margin-top: 1rem;
}

.em-r {
	cursor: grab;
	-webkit-appearance: none;
	background: none;

	background-color: hsla(0, 0%, 100%, .5);

	height: 4px;

	outline: none;
}

.em-r::-webkit-slider-thumb {
  	-webkit-appearance: none;
  	appearance: none;

  	width: 4rem;
  	height: 2.5rem;
  	background: hsl(120, 50%, 40%);

  	opacity: .8;

  	/*border-left: solid 3px hsl(240, 100%, 0%);*/
  	/*border-right: solid 3px hsl(240, 100%, 0%);*/

  	border-radius: 150px;
 }

/* using js instead of number input */
/*.em-i[type=number]::-webkit-inner-spin-button, 
.em-i[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}*/

/* 1.4.4 helper text */
.em-ht {
	/*font-size: 1.6rem;*/
}

/* 1.4.5 label */
.em-label {
	cursor: pointer;
}


/* 2.0 loan amount element container */
.em-element-loan_amount {
	grid-area: loan;

}

/* 2.1 loan amount input container */
.em-ic-loan_amount {
}

/* 2.1.1 loan amount label */
.em-label-loan_amount {
}

/* 2.1.1.1 loan amount title */
.em-it-loan_amount {

}

/* 2.1.1.2 loan amount help text */
.em-ht-loan_amount {
	/*position: absolute;*/
	/*top: 2rem;*/
	/*bottom: 2rem;*/
	/*right: 2rem;*/

	/*width: 30%;*/
	/*background-color: white;*/
	/*border-radius: 10px;*/

	/*padding: 1.5rem;*/

	display: flex;
	align-items: center;
}

/* 2.1.2 loam amount input */
.em-i-loan_amount {
}

/* 2.1.3 loan amount range input */
.em-r-loan_amount {
}

/* 2.2 loan tenure */
.em-element-tenure {
	grid-area: tenure;
}

/* 2.3 mobile number */
.em-element-mobile_number {
	/*padding: 2rem;*/

	/*border-radius: 25px;*/
	grid-area: mobile;
}

/* 2.4 email */
.em-element-email {
	/*padding: 2rem;*/

	/*border-radius: 25px;*/
	grid-area: email;
}

.em-i-mobile_number,
.em-i-email {
	width: 100%;
}

.em-element-mobile_number,
.em-element-email {
	/*height: 13rem;*/
}


/* 2.5 monthly cost */
.em-element-monthly_cost {
	grid-area: monthly;
	background-color: transparent;
	/*font-size: 3.4rem;*/
	height: auto;
}

.em-element-monthly_cost:hover {
	box-shadow: none;
}

.em-if-monthly_cost {
	border: none;
	background-color: transparent;
	color: black;
	text-align: right;
	/*font-size: 3.6rem;*/
	/*width: 80px;*/
}


/* 2.6 refinancing / collect debt */
.em-element-collect_debt {
	grid-area: refinancing;

}

.em-cc-selector {
	display: inline-flex;

	/*margin-top: 1rem;*/

	user-select: none;
}

.em-cc-yes,
.em-cc-no {
	border: solid 1px #000;
	/*padding: 1rem 2rem;*/
	/*font-size: 3rem;*/

	/*width: 10rem;*/
	/*height: 4rem;*/

	text-align: center;
	background-color: hsl(120, 0%, 70%);

	cursor: pointer;
	outline: none;
}

.em-cc-yes {

	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;


	border-right: none;
}

.em-cc-no {

	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;

}

.em-cc-green {
	background-color: hsl(120, 50%, 50%);
}