/**
 * INDEX
 * 
 * 1.0 .emowl-form
 * 		1.1 form title
 * 		1.2 button container
 * 			1.2.1 buttons
 * 			1.2.2 hidden button
 * 			
 * 		1.3 .part-container
 * 		1.3.1 .part
 * 				1.3.1.1 .part-1
 * 		 		1.3.1.2 .part-2
 * 		 	 	1.3.1.3 .part-3
 * 		  	 	1.3.1.4 .part-4
 * 		  	 	
 *      1.4. generic elements and element-parts
 *      	1.4.1 element title
 *      	1.4.2 text input
 *      	1.4.3 range input
 *      	1.4.4 helper text
 *      	1.4.5 label
 * 		
 *
 * 2.0 loam amount
 * 		2.1 loan input container
 * 			2.1.1 loan label
 * 				2.1.1.1 loan title
 * 			 	2.1.1.2 loan help text
 * 			 	
 * 			2.1.2 loan input
 *
 * 3.0 tenure
 *
 * 4.0 refinancing
 * 
 * 5.0 mobile number
 *
 * 6.0 email
 *
 * 7.0 monthly cost
 *
 * 8.0 social number (personnummer)
 *
 * 9.0 employment type
 *
 * 10.0 employment since
 *
 * 11.0 employer
 *
 * 12.0 eduction
 *
 * 13.0 education loan
 *
 * 14.0 norwegian (citizen)
 *
 * 15.0 years in norway
 *
 * 16.0 country of origin
 *
 * 17.0 income
 *
 * 18.0 civil status
 *
 * 19.0 living conditions
 *
 * 20.0 rent incone
 *
 * 21.0 mortgage
 *
 * 22.0 rent
 *
 * 23.0 address since
 *
 * 24.0 car/boat/mc mortgage
 *
 * 25.0 number of children
 *
 * 26.0 allimony per month
 *
 * 26.0 co-applicant yes/no
 *
 * 27.0 co-applicant name
 *
 * 28.0 co-applicant social number
 *
 * 29.0 co-applicant mobile number
 *
 * 30.0 co-applicant email
 *
 * 31.0 co-applicant employment type
 *
 * 32.0 co-applicant employment since
 *
 * 33.0 co-applicant employer
 *
 * 34.0 co-applicant education
 *
 * 35.0 co-applicant norwegian
 *
 * 36.0 co-applicant years in norway
 *
 * 37.0 co-applicant country of origin
 *
 * 38.0 co-applicant salery
 */


/* dev stuff */
.em-element-container {
	/*border: solid 1px black;*/
	/*padding: 1rem;*/
}

.em-r,
.em-i {
	width: 100%;
}

.em-cc-selector {
	/*width: 100px;*/
}
/* end of dev stuff */





/* 1.0 form element and container */
.emowl-form {
	display: inline-grid;

	width: 50%;

	box-sizing: content-box;

	/* form title - form elements - buttons */
	grid-template-rows: auto 1fr auto;

	font-size: 2rem;

	/* light gray */
	background-color: hsl(20, 0%, 98%);

	padding: 2rem;

	border-radius: 25px;
	border: solid 2px  hsl(20, 0%, 97%);

	user-select: none;
}

.emowl-form input {
	font-size: 3rem;
	/*background-color: hsl(10, 90%, 98%);*/
}

/* 1.1 form title */
.form-title {
	margin: 0;
}

/* 1.2 next / prev buttons */
/* button container */
.em-b-container {
	display: flex;

	/* TODO: prev button on left - next button on right*/
	flex-direction: row-reverse;

	justify-content: space-between;
	align-self: flex-end;
}

/* 1.2.1 button */
.em-b {
	border: none;
	/*outline: none;*/

	cursor: pointer;

	font-size: 3rem;
	padding: .5rem;
	border-radius: 5px;

}

.em-b:focus {
	/*border: solid 1px hsl(120, 60%, 60%) !important;*/
}

/* 1.2.2 submit button */
.em-b-submit {
	background-color: hsl(120, 90%, 60%);
}

/* 1.2.3 back button */
.em-b-back {
	/*display: none;*/
}

/* 1.2.4 next button */
.em-b-next {
	background-color: hsl(30, 90%, 60%);
}

/* 1.3 part container */
.part-container {
}

.part {
	display: none;
}

.part-1 {
	display: grid;

	grid-template-columns: 1fr 1fr;

	grid-template-areas: 
	"monthly monthly"
	"loan loan"
	"tenure refinancing"
	"mobile email";

	justify-content: space-between;
	align-items: stretch;
	grid-column-gap: 4rem;

	/*height: 100%;*/
}



.em-hidden {
	display: none !important;
}

/* 1.4 generic elements and element-parts */
.em-element-container {
	position: relative;

	/*user-select: none;*/
	margin-bottom: 2rem;

	padding: 0 2rem 2rem 2rem;

	/*border: solid 2px black;*/
	/*box-shadow: 0 0 5px black;*/
	/*border-radius: 25px;*/
	/*background-color: hsl(10, 90%, 98%);*/
}	

.em-element-container:hover {
}

/* 1.4.1 element title */
.em-it {
	margin: 0;
	/*position: relative;*/
}

/* 1.4.2 text input */
.em-i {
	border: none;
	/*outline: none;*/

	z-index: 20;

	text-align: center;

	height: 5rem;

	font-size: 3rem;

	border-radius: 3px;

	border: solid 1px hsl(0, 0%, 50%);
	box-shadow: 0 0 0 transparent, inset 0 1px 1px #d4d4d4;
}

/**/
.em-lc .em-i:focus {

	box-shadow: 0 0 2px hsl(120, 80%, 60%);
}
/* 1.4.3 range input container */
.em-rc {
	margin-top: 1rem;
}

/* 1.4.3.1 range input */
.em-r {
	height: 4px;

	position: relative;
	bottom: 1.7rem;
	right: 0.2rem;
	
	/* removing default slider apperance */
	-webkit-appearance: none;
	background: none;
	outline: none;

	background-color: hsla(120, 100%, 20%, .2);

	cursor: grab;
}

.em-r:focus {
	background-color: hsla(120, 100%, 20%, .7);
}

/* 1.4.3.2 range tack */
.em-r::-webkit-slider-thumb {
  	-webkit-appearance: none;
  	appearance: none;

  	width: 4rem;
  	height: 2.5rem;

  	opacity: .8;
  	background: hsl(120, 50%, 20%);
  	/*border-radius: 150px;*/
 }


/* 1.4.4 helper text */
.em-ht {
	font-size: 1.6rem;
	display: flex;

	align-items: center;

	position: absolute;
	top: 2.6rem;
	right: -27.9rem;

	background-color: hsl(0, 0%, 95%);
	padding: 0.5rem;
	z-index: 99;
	width: 30rem;
	height: 5rem;

	border: solid 1px hsl(0, 0%, 50%);
	box-shadow: 0 0 0 transparent, inset 0 1px 1px #d4d4d4;

}

.arrow-right {
	display: inline-block;
	position: relative;
	/*bottom: .6rem;*/
	right: 0.7rem;
	width: 0; 
	height: 0; 
	border-top: 2.5rem solid transparent;
	border-bottom: 2.5rem solid transparent;
	  
	border-left: 2.5rem solid hsl(0, 0%, 30%);
}

.em-ht-q {
	/*content: '?';*/
	position: absolute;
	right: 2rem;
	top: 3px;

	font-weight: 400;
	font-size: 1.4rem;

	width: 2rem;
	height: 2rem;

	border-radius: 25px;
	border: solid 1px gray;

	background-color: transparent;

	text-align: center;
	line-height: 2rem;
	cursor: pointer;
}

.em-ht-q:hover {
	background-color: hsl(0, 0%, 90%);
}

/* 1.4.5 label */
.em-label {
	cursor: pointer;
}

/* 1.4.6 checkbox  buttons */
.em-cc-selector {
	display: inline-flex;

	/*user-select: none;*/

	height: 5rem;
	width: 100%;

}

/* 1.4.6.1 checkbox buttons */
.em-cc-yes,
.em-cc-no {
	flex: 1;
	border: solid 1px #000;
	text-align: center;
	background-color: hsl(120, 0%, 90%);

	cursor: pointer;
	/*outline: none;*/
	/*outline: solid 2px black;*/

	font-size: 2rem;

	/*width: 50%;*/
}

/* 1.4.6.2 checkbox yes */
.em-cc-yes {

	/*border-top-left-radius: 25px;*/
	/*border-bottom-left-radius: 25px;*/


	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

/* 1.4.6.3 checkbox no */
.em-cc-no {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;

	/*border-top-right-radius: 25px;*/
	/*border-bottom-right-radius: 25px;*/

}

/* 1.4.6.4 checkbox selected */
.em-cc-green {
	background-color: hsl(120, 80%, 60%);
}



/* 2.0 loan amount element container */
.em-element-loan_amount {
	grid-area: loan;

}

/* 2.1 loan amount input container */
.em-ic-loan_amount {
}

/* 2.1.1 loan amount label */
.em-label-loan_amount {
}

/* 2.1.1.1 loan amount title */
.em-it-loan_amount {

}

/* 2.1.1.2 loan amount help text */
.em-ht-loan_amount {
}

/* 2.1.2 loam amount input */
.em-i-loan_amount {
}

/* 2.1.3 loan amount range input */
.em-r-loan_amount {
}

/* 3.0 tenure */
.em-element-tenure {
	grid-area: tenure;
}

/* 4.0 refinancing / collect debt */
.em-element-collect_debt {
	grid-area: refinancing;
}

/* 5.0 mobile number */
.em-element-mobile_number {
	grid-area: mobile;
}

/* 6.0 email */
.em-element-email {
	grid-area: email;
}



/* 7.0 monthly cost */
.em-element-monthly_cost {
	grid-area: monthly;
	background-color: transparent;
}

.em-container-monthly_cost {
	font-size: 3rem;
	position: relative;
	bottom: 1px;
}

.em-if-monthly_cost {
	border: none;
	background-color: transparent;
	color: black;
	text-align: left;
	padding-left: 5px;
	width: 150px;

	font-weight: 700;
}

